<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Listado  de Owners</h2>

<table >
    <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Direccion</th>
        <th>Ciudad</th>
        <th>Telefono</th>
    </tr>
    <tr th:each="o : ${listado}">
        <td th:text="${o.id}"></td>
        <td th:text="${o.firtName}"></td>
        <td th:text="${o.lastName}"></td>
        <td th:text="${o.address}"></td>
        <td th:text="${o.city}"></td>
        <td th:text="${o.telephone}"></td>

    </tr>
</table>
<br/>
</body>
</html>